/* Resets ------------------ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Type Selectors ------------------ */

html,
body {
    color: rgba(26, 26, 26, 0.6);
    margin: 0;
    padding: 0;
    height: 100%;
    /*    background-image: url(/assets/background-texture-light_@2X.png)*/
}

#container {
    min-height: 100%;
    position: relative;
    
}

#body {
    margin: 0 2%;
    padding: 6% 2%;
    display: block;
}

#body p {
    line-height: 1.75em;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 1% auto;
    max-width: 625px;
    text-align: center;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 4em;
    background-image: url(../assets/background-texture-dark.png);
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    clear: both;
}



#sublinks {
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 2;
}

#sublinks li {
    display: inline-block;
    list-style-type: none;
    z-index: 2;
}

#sublinks li a {
    color: #fff;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border: 2px solid white;
    z-index: 2;
    
}

#sublinks li a:hover {
    color: black;
    background-color: white;
    z-index: 2;
}

#contact:hover {
    color: black;
    background-color: white;
    z-index: 2;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: white;
    font-family: 'Raleway', sans-serif;
    z-index: 5;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 29px;
    font-family: 'Playfair Display', serif;
    color: black;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}

h3 {
    font-size: 20px;
    color: #48525c;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    width: 95%;
    max-width: 1054px;
    color: #c9c7c7;
    background-color: #c9c7c7;
    margin-top: 2em;
    margin-bottom: 2em;
}


/* --------------- Navigation Menu Styling --------------------- */

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    list-style: none;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    z-index: 3;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
    padding: 0 0px;
}

#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: #000 url(../assets/menu-icon.png) center;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

a:hover#menu-icon {
    display: hidden;
    background-color: #444;
    border-radius: 4px 4px 0 0;
}


/* Create a style for the first level items */

nav ul li a {
    color: #ccc;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: white;
}

nav ul li a#contact {
    border: 2px solid white;
}

#logo img {
    margin-top: -10px;
    margin-left: 3%;
    float: left;
    max-width: 85px;
    max-height: 200px;
    background-image: url(../assets/SVK White.svg) no-repeat center;
    display: block;
}


/* ------------------- Header Styling ----------------- */

.main-header {
    background-image: url(../assets/bannerbw1.jpg);
    padding-top: 14em;
    padding-bottom: 10em;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

#arrowbox {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 2;
}

#arrowbox img {
    bottom: 0;
    width: 30px;
    height: auto;
    margin: 22px auto;
}



#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}


.title {
    color: white;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    z-index: 5;
    text-align: center;
}


/*-----------------------------------------------*/

.the3images {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.the3images a{
    color: #666;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border: 2px solid black;
    max-width: 70%;
    margin: auto;
}

.the3images a:hover {
    color: white;
    background-color: black;
}

.the3images img {
    max-width: 100%;
    margin: 20px auto;
}

#homeproject1 {
    float: left;
    width: 46.5%;
}

#homeproject2 {
    float: right;
    width: 46.5%
}

#latestprojects {
    max-width: 700px;
    margin: auto;
}

.collage {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.collage img {
    max-width: 100%;
    margin: 0;
}

#mylife1 {
    float: left;
    width: 50%;
}

#mylife2 {
    float: right;
    width: 50%
}

#mylife {
    max-width: 800px;
    margin: auto;
}

#photography {
    margin: auto;
    width: 100%;
    padding-left: 50px;

    padding-right: 50px;
    box-sizing: border-box;
}

#photography p {
    padding-bottom: 30px;   
}

.photography img{
    max-width: 100%;
        padding-bottom: 50px;
}

/*Float Clearfix -------------------------*/

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*----------------------- Media Queries -----------------*/

@media only screen and (max-width: 768px) {
    nav {
        text-align: center;
    }
    h1 {
        font-size: 40px;
    }
    .main-header {
        padding-bottom: 50%;
        padding-top: 70%;
    }
    header {
        position: absolute;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul,
    nav:active ul {
        max-width: 150px;
        display: none;
        position: absolute;
        padding: 12px;
        background: #fff;
        border: 4px solid #000;
        right: 18px;
        top: 58px;
        border-radius: 4px 0 4px 4px;
        text-align: center;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    
    nav ul li a {
        color: black; 
    }
    nav ul li a:hover {
        color: white;
        background-color: black;
    }
    nav ul li a#contact:hover {
        color: white;
        background-color: black;
    }
    nav:hover ul {
        display: block;
    }
    #logo img {
        max-height: 40px;
        margin-left: 7%;
        margin-top: 10px;
    }
    
    .container {
        width: 100%;
        
    }
    .collage {
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    }
    
    #mylife1,
    #mylife2 {
        width: 100%;
        
    }
    
    #mylife2 {
     padding-bottom: 50px;   
    }
    
    #homeproject1,
    #homeproject2 {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    #photography {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: none;
}

.photography img{
    
}
    
    
}